# Configuración del servidor
PORT=3000
HOST=localhost

# Configuración de CORS
CORS_ORIGIN=http://localhost:3000

# Configuración de JWT
JWT_SECRET=ecomerce_jwt_secrec
JWT_EXPIRES_IN=7d

# Contraseña de administrador (usar UUID para mayor seguridad)
ADMIN_KEY=uuid...
